<section class="hero is-primary is-bold" style="background-color: #964B00;">
    <div class="hero-body">
        <h1 style="color: #ffffff;">TECH BLOG</h1>
        <button id="login-button" class="button is-pulled-right">Login</button>
        <button id="post-button" class="button is-pulled-right">Post</button>
    </div>
</section>

<script src="/js/loginbutton.js"></script>
<script src="/js/postbutton.js"></script>

{{#each items as |item|}}
<div class="card" style="background-color: #964B00;">
    <header class="card-header">
        <p class="card-header-title" style="color: #ffffff;">
            Title: {{item.title}}
        </p>
        <button class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </header>
    <div class="card-content">
        <div class="content" style="color: #ffffff;">
            {{item.description}}
        </div>
    </div>
</div>
{{/each}}

<script src="js/homepage.js"></script>