<section class="hero is-primary is-bold" style="background-color: #964B00;">
    <div class="hero-body">
        <h1 style="color: #ffffff;">BLOG</h1>
        <button id="login-button" class="button is-pulled-right">Login</button>
        <button id="post-button" class="button is-pulled-right">Post</button>
    </div>
</section>

    <form id="frm1" action="/action_page.php"></form>
        <input class="input is-rounded" id="post_title" type="text" placeholder="Title">
        <input class="input is-rounded" id="post_description" type="text" placeholder="Description">
        <input class="button" id="post_submit" type="submit" value="Submit">
    </form>


<script src ="/js/post.js"></script>