<section class="hero is-primary" style="background-color: #964B00;">
    <div class="hero-body">
        <h1 style="color: #ffffff;">TECH BLOG</h1>
        <button id="home-button" class="button is-pulled-right">Home</button>
    </div>
</section>
    <script src="/js/homebutton.js"></script>

    <form id="frm1" action="/action_page.php"></form>
        <input class="input is-rounded" id="post_title" type="text" placeholder="Title">
        <input class="input is-rounded" id="post_description" type="text" placeholder="Description">
        <input class="button" id="post_submit" type="submit" value="Submit">
    </form>

<script src ="/js/post.js"></script>
