body {
    background-color: #964B00 !important;
}

header {
    display: inline-block;
    height: 20%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container, .create-container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

#tag-line {
    font-size: 20px;
}

.button.is-primary { 
    background-color:red; 
    outline: 2px solid orange;
}

#login-button { 
    color: white;
    background-color:red; 
    outline: 2px solid orange;
}

#post-button {
    color: white;
    background-color:red; 
    outline: 2px solid orange; 
}

#home-button {
    color: white;
    background-color:red; 
    outline: 2px solid orange; 
}


.custom-hero {
    background-color: #964B00 !important;
}


